interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.tdameritrade.com/v1/marketdata/AAPL/pricehistory?apikey=DUMMY&endDate=1509494400000&frequency=1&frequencyType=daily&period=20&periodType=year&startDate=1480550400000
  response:
    content: '{"candles":[{"open":27.9,"high":28.05,"low":27.5675,"close":27.63,"volume":144649032,"datetime":1480485600000},{"open":27.59125,"high":27.735,"low":27.2575,"close":27.3725,"volume":148347448,"datetime":1480572000000},{"open":27.2925,"high":27.5225,"low":27.2125,"close":27.475,"volume":106111988,"datetime":1480658400000},{"open":27.5,"high":27.5075,"low":27.0625,"close":27.2775,"volume":137298160,"datetime":1480917600000},{"open":27.375,"high":27.59,"low":27.2975,"close":27.4875,"volume":104781848,"datetime":1481004000000},{"open":27.315,"high":27.7975,"low":27.29,"close":27.7575,"volume":1[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.tdameritrade.com/v1/marketdata/INTC/pricehistory?apikey=DUMMY&endDate=1509494400000&frequency=1&frequencyType=daily&period=20&periodType=year&startDate=1480550400000
  response:
    content: '{"candles":[{"open":35.2,"high":35.3,"low":34.7,"close":34.7,"volume":27016070,"datetime":1480485600000},{"open":34.86,"high":34.93,"low":33.56,"close":33.76,"volume":29618687,"datetime":1480572000000},{"open":33.72,"high":34.26,"low"[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.tdameritrade.com/v1/marketdata/TSLA/pricehistory?apikey=DUMMY&endDate=1509494400000&frequency=1&frequencyType=daily&period=20&periodType=year&startDate=1480550400000
  response:
    content: '{"candles":[{"open":38.2,"high":38.378,"low":37.5,"close":37.88,"volume":17735520,"datetime":1480485600000},{"open":37.65,"high":37.706,"low":36.2,"close":36.376,"volume":25632005,"datetime":1480572000000},{"open":36.576,"high":36.976[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.tdameritrade.com/v1/marketdata/MSFT/pricehistory?apikey=DUMMY&endDate=1509494400000&frequency=1&frequencyType=daily&period=20&periodType=year&startDate=1480550400000
  response:
    content: '{"candles":[{"open":60.86,"high":61.18,"low":60.215,"close":60.26,"volume":34655435,"datetime":1480485600000},{"open":60.11,"high":60.15,"low":58.935,"close":59.2,"volume":34542121,"datetime":1480572000000},{"open":59.08,"high":59.47,[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.tdameritrade.com/v1/marketdata/NFLX/pricehistory?apikey=DUMMY&endDate=1509494400000&frequency=1&frequencyType=daily&period=20&periodType=year&startDate=1480550400000
  response:
    content: '{"candles":[{"open":119.0,"high":120.37,"low":116.3913,"close":117.0,"volume":7715103,"datetime":1480485600000},{"open":117.52,"high":118.68,"low":113.95,"close":117.22,"volume":8636943,"datetime":1480572000000},{"open":116.75,"high":[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.tdameritrade.com/v1/marketdata/FB/pricehistory?apikey=DUMMY&endDate=1509494400000&frequency=1&frequencyType=daily&period=20&periodType=year&startDate=1480550400000
  response:
    content: '{"candles":[{"open":120.32,"high":121.79,"low":117.95,"close":118.42,"volume":30188922,"datetime":1480485600000},{"open":118.38,"high":118.45,"low":114.0,"close":115.1,"volume":43276994,"datetime":1480572000000},{"open":115.11,"high":11[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.tdameritrade.com/v1/marketdata/AMZN/pricehistory?apikey=DUMMY&endDate=1509494400000&frequency=1&frequencyType=daily&period=20&periodType=year&startDate=1480550400000
  response:
    content: '{"candles":[{"open":762.0,"high":768.09,"low":750.25,"close":750.57,"volume":4625946,"datetime":1480485600000},{"open":752.41,"high":753.37,"low":738.03,"close":743.65,"volume":4665993,"datetime":1480572000000},{"open":743.4,"high":74[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.tdameritrade.com/v1/marketdata/SIRI/pricehistory?apikey=DUMMY&endDate=1509494400000&frequency=1&frequencyType=daily&period=20&periodType=year&startDate=1480550400000
  response:
    content: '{"candles":[{"open":4.62,"high":4.65,"low":4.56,"close":4.57,"volume":31387372,"datetime":1480485600000},{"open":4.57,"high":4.61,"low":4.51,"close":4.555,"volume":30968272,"datetime":1480572000000},{"open":4.53,"high":4.6,"low":4.22,[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.tdameritrade.com/v1/marketdata/GM/pricehistory?apikey=DUMMY&endDate=1509494400000&frequency=1&frequencyType=daily&period=20&periodType=year&startDate=1480550400000
  response:
    content: '{"candles":[{"open":34.7,"high":34.98,"low":34.45,"close":34.53,"volume":15681697,"datetime":1480485600000},{"open":34.81,"high":36.66,"low":34.79,"close":36.43,"volume":37092255,"datetime":1480572000000},{"open":36.25,"high":36.3,"low"[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.tdameritrade.com/v1/marketdata/F/pricehistory?apikey=DUMMY&endDate=1509494400000&frequency=1&frequencyType=daily&period=20&periodType=year&startDate=1480550400000
  response:
    content: '{"candles":[{"open":11.97,"high":12.14,"low":11.92,"close":11.96,"volume":47646220,"datetime":1480485600000},{"open":12.23,"high":12.8,"low":12.18,"close":12.43,"volume":95143559,"datetime":1480572000000},{"open":12.58,"high":12.58,"low"[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.tdameritrade.com/v1/marketdata/HD/pricehistory?apikey=DUMMY&endDate=1509494400000&frequency=1&frequencyType=daily&period=20&periodType=year&startDate=1480550400000
  response:
    content: '{"candles":[{"open":129.34,"high":130.32,"low":128.81,"close":129.4,"volume":6973817,"datetime":1480485600000},{"open":129.34,"high":130.35,"low":129.0,"close":129.47,"volume":5398674,"datetime":1480572000000},{"open":129.04,"high":130.[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.tdameritrade.com/v1/marketdata/DIS/pricehistory?apikey=DUMMY&endDate=1509494400000&frequency=1&frequencyType=daily&period=20&periodType=year&startDate=1480550400000
  response:
    content: '{"candles":[{"open":99.4,"high":100.2895,"low":99.0,"close":99.12,"volume":11369177,"datetime":1480485600000},{"open":99.13,"high":99.75,"low":98.62,"close":98.94,"volume":9958086,"datetime":1480572000000},{"open":98.79,"high":99.08,"l[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.tdameritrade.com/v1/marketdata/BA/pricehistory?apikey=DUMMY&endDate=1509494400000&frequency=1&frequencyType=daily&period=20&periodType=year&startDate=1480550400000
  response:
    content: '{"candles":[{"open":151.59,"high":153.08,"low":150.56,"close":150.56,"volume":3990972,"datetime":1480485600000},{"open":150.74,"high":152.69,"low":150.39,"close":152.39,"volume":2843930,"datetime":1480572000000},{"open":152.45,"high":15[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.tdameritrade.com/v1/marketdata/PFE/pricehistory?apikey=DUMMY&endDate=1509494400000&frequency=1&frequencyType=daily&period=20&periodType=year&startDate=1480550400000
  response:
    content: '{"candles":[{"open":30.31537704,"high":30.68033702,"low":30.097349,"close":30.46704872,"volume":40634597,"datetime":1480485600000},{"open":30.571323,"high":30.571323,"low":29.7655672,"close":29.82244408,"volume":32287014,"datetime":148[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.tdameritrade.com/v1/marketdata/NKE/pricehistory?apikey=DUMMY&endDate=1509494400000&frequency=1&frequencyType=daily&period=20&periodType=year&startDate=1480550400000
  response:
    content: '{"candles":[{"open":50.52,"high":50.81,"low":50.07,"close":50.07,"volume":8198418,"datetime":1480485600000},{"open":50.11,"high":51.25,"low":50.06,"close":50.65,"volume":7610063,"datetime":1480572000000},{"open":50.26,"high":50.68,"low[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.tdameritrade.com/v1/marketdata/JNJ/pricehistory?apikey=DUMMY&endDate=1509494400000&frequency=1&frequencyType=daily&period=20&periodType=year&startDate=1480550400000
  response:
    content: '{"candles":[{"open":112.19,"high":112.52,"low":111.3,"close":111.3,"volume":11178468,"datetime":1480485600000},{"open":111.36,"high":111.5399,"low":111.0,"close":111.38,"volume":8143287,"datetime":1480572000000},{"open":111.72,"high":1[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.tdameritrade.com/v1/marketdata/MCD/pricehistory?apikey=DUMMY&endDate=1509494400000&frequency=1&frequencyType=daily&period=20&periodType=year&startDate=1480550400000
  response:
    content: '{"candles":[{"open":120.22,"high":120.49,"low":119.27,"close":119.27,"volume":5696096,"datetime":1480485600000},{"open":118.96,"high":118.96,"low":117.87,"close":118.47,"volume":4444978,"datetime":1480572000000},{"open":118.0,"high":11[...]
