interactions:
- request:
    body: grant_type=refresh_token&refresh_token=DUMMY
    headers:
      content-type:
      - application/x-www-form-urlencoded;charset=UTF-8
    method: POST
    uri: https://api.tdameritrade.com/v1/oauth2/token
  response:
    content: "{\n  \"access_token\" : \"DUMMY-ACCESSKEY\",\n
      \ \"scope\" : \"PlaceTrades AccountAccess MoveMoney\",\n  \"expires_in\" : 1800,\n
      \ \"token_type\" : \"Bearer\"\n}"
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Application-Context:
      - OAUTH_SERVICE:run:8080
    status_code: 200
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.tdameritrade.com/v1/marketdata/BA/pricehistory?apikey=DUMMY&endDate=1509494400000&frequency=1&frequencyType=daily&period=20&periodType=year&startDate=1480550400000
  response:
    content: '{"candles":[{"open":151.59,"high":153.08,"low":150.56,"close":150.56,"volume":3990972,"datetime":1480485600000},{"open":150.74,"high":152.69,"low":150.39,"close":152.39,"volume":2843930,"datetime":1480572000000},{"open":152.45,"high":152.49,"low":151.12,"close":152.25,"volume":2105577,"datetime":1480658400000},{"open":153.24,"high":153.75,"low":151.85,"close":152.16,"volume":2855946,"datetime":1480917600000},{"open":150.84,"high":152.64,"low":150.02,"close":152.24,"volume":3476254,"datetime":1481004000000},{"open":151.67,"high":154.31,"low":151.0701,"close":154.14,"volume":2955753,"datetime[...]
