interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.tdameritrade.com/v1/marketdata/AAPL/pricehistory?apikey=DUMMY&endDate=1654128000000&frequency=1&frequencyType=daily&period=20&periodType=year&startDate=1591056000000
  response:
    content: '{"candles":[{"open":79.4375,"high":80.5875,"low":79.3025,"close":80.4625,"volume":81018612,"datetime":1590987600000},{"open":80.18625,"high":80.86,"low":79.7325,"close":80.835,"volume":87642816,"datetime":1591074000000},{"open":81.165,"high":81.55,"low":80.575,"close":81.28,"volume":104491216,"datetime":1591160400000},{"open":81.0975,"high":81.405,"low":80.195,"close":80.58,"volume":87560364,"datetime":1591246800000},{"open":80.8375,"high":82.9375,"low":80.8075,"close":82.875,"volume":137250200,"datetime":1591333200000},{"open":82.5625,"high":83.4,"low":81.83,"close":83.365,"volume":95654536,"da[...]
