interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.tdameritrade.com/v1/marketdata/AMC/pricehistory?apikey=DUMMY&endDate=1543795200000&frequency=1&frequencyType=daily&period=20&periodType=year&startDate=1480723200000
  response:
    content: '{"candles":[{"open":32.0,"high":32.05,"low":30.4,"close":30.7,"volume":529098,"datetime":1480658400000},{"open":30.95,"high":31.8,"low":30.8,"close":31.55,"volume":235476,"datetime":1480917600000},{"open":31.25,"high":32.55,"low":31.2,"close":32.25,"volume":376476,"datetime":1481004000000},{"open":32.3,"high":32.3,"low":31.05,"close":31.1,"volume":787967,"datetime":1481090400000},{"open":31.3,"high":31.6,"low":30.35,"close":30.55,"volume":956098,"datetime":1481176800000},{"open":30.6,"high":31.1,"low":30.4,"close":31.05,"volume":545795,"datetime":1481263200000},{"open":30.85,"high":[...]
- request:
    body: grant_type=refresh_token&refresh_token=DUMMY
    headers:
      content-type:
      - application/x-www-form-urlencoded;charset=UTF-8
    method: POST
    uri: https://api.tdameritrade.com/v1/oauth2/token
  response:
    content: "{\n  \"access_token\" : \"DUMMY-ACCESSTOKEN\",\n
      \ \"scope\" : \"PlaceTrades AccountAccess MoveMoney\",\n  \"expires_in\" : 1800,\n
      \ \"token_type\" : \"Bearer\"\n}"
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Application-Context:
      - OAUTH_SERVICE:run:8080
    status_code: 200
[...]
