interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.tdameritrade.com/v1/marketdata/AAPL/pricehistory?apikey=DUMMY&endDate=1580515200000&frequency=1&frequencyType=daily&period=20&periodType=year&startDate=1577836800000
  response:
    content: '{"candles":[{"open":72.4825,"high":73.42,"low":72.38,"close":73.4125,"volume":100990500,"datetime":1577772000000},{"open":74.06,"high":75.15,"low":73.7975,"close":75.0875,"volume":135647456,"datetime":1577944800000},{"open":74.2875,"high":75.145,"low":74.125,"close":74.3575,"volume":146535512,"datetime":1578031200000},{"open":73.4475,"high":74.99,"low":73.1875,"close":74.95,"volume":118578576,"datetime":1578290400000},{"open":74.96,"high":75.225,"low":74.37,"close":74.5975,"volume":111510620,"datetime":1578376800000},{"open":74.29,"high":76.109975,"low":74.289,"close":75.7975,"volume":1323637[...]
- request:
    body: grant_type=refresh_token&refresh_token=DUMMY
    headers:
      content-type:
      - application/x-www-form-urlencoded;charset=UTF-8
    method: POST
    uri: https://api.tdameritrade.com/v1/oauth2/token
  response:
    content: "{\n  \"error\" : \"invalid_grant\"\n}"
    headers:
      Cneonction:
      - close
      Content-Type:
      - application/json;charset=UTF-8
      X-Application-Context:
      - OAUTH_SERVICE:run:8080
    status_code: 400
version: 1
