alive-progress
arrow
black
debugpy
dovpanda
flake8-docstrings
git+https://git@github.com/quantopian/pyfolio.git@master#egg=pyfolio
ipdb
ipython
jupyterlab
matplotlib
mypy
numpy
pandas
pytest
pytest-cov
pytest-dotenv
pytest-flake8
pytest-freezegun
pytest-mock
pytest-vcr
python-dotenv
tda-api
exchange-calendars
