alive-progress
arrow
black
boto3
boto3-stubs[s3]
debugpy
diskcache
dovpanda
exchange-calendars
flake8-docstrings
git+https://git@github.com/quantopian/pyfolio.git@master#egg=pyfolio
ipdb
ipython
jupyterlab
matplotlib
moto[s3]
mypy
mypy-boto3-s3
numpy
pandas
pytest
pytest-cov
pytest-dotenv
pytest-flake8
pytest-freezegun
pytest-mock
pytest-vcr
python-dotenv
tda-api
