alive-progress
arrow
ipdb
matplotlib
numpy
pandas
pyfolio
tda-api
black
debugpy
dovpanda
jupyterlab
ipython
python-dotenv
mypy
pytest
pytest-flake8
flake8-docstrings
pytest-cov
pytest-dotenv
pytest-freezegun
pytest-mock
pytest-vcr
trading-calendars
